.inputField{
    border:2px solid black;
    color:black;
    border-radius:24px;
    background:#f6f6f6;
    padding:5px;
    margin:.3em;
    transition:.30s all;
    outline:none;
    font-weight: bold;

}

.inputField:focus{
    width:80%;
}

.inputField--small{
    width:35%;
}

.inputField--small:focus{
    width:45%;
}

.inputField--medium{
    width:50%
}

.inputField--medium:focus{
    width:60%
}

.inputField--large{
    width:70%
}

.inputField--large:focus{
    width:80%
}