*{
    padding:0;
    margin:0;
}

.registerPage{

    .page-content{
        display:grid;
        grid-template-columns: 30% 70%;
    }

    .register-part{
        display:flex;
        flex-direction: column;
    }
}

