.registerPage{
    @include media (">=phone"){

    padding:0em;
    margin:0;




    .page-content{
        display:flex;
        flex-direction: column;
    }

    .sign-in-part{
        padding:.4em;
        background-color: #f6f6f6;
        text-align: center;
        border: 2px solid black;

        p{
            font-weight:400;
        }
    }

    .register-part{
        display:flex;
        flex-direction: column;
        padding:.4em;
        margin:0;
        place-content:center;
        background-color: #ffc83a;
        border: 2px solid black;
        border-top: none;

        
    }

    h1{
        font-size:1.1rem;
        margin:1em;
        text-align: center;
    }

    p{
        font-size:1rem;
    }

    label{
        font-weight:bold;
    }

    

}
}