* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $text-font-stack;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

body {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #dddddd;
}

body::-webkit-scrollbar-thumb {
  background-color: $brand-color;
  border-radius: 20px;
}
