/// @type List
$text-font-stack: "Montserrat", sans-serif !default;

/// @type Color
$link-color: #c8e1ff !default;

/// @type Color
$hover: #1f2936 !default;

/// @type Color
$brand-color: #ffc83a !default;
$second-color: #ff3838 !default;
